@charset "UTF-8";

#Rec30_1 {
    position: absolute;
width: 234px;
height: 83px;
left: 692px;
top: 687px;

background: #EEB540;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 60px;
}

#Rec30_2 {
    position: absolute;
width: 234px;
height: 83px;
left: 982px;
top: 687px;

background: #EEB540;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 60px;
}

.turtle1 {
    position: absolute;
    width: 87px;
    height: 71px;
    left: 144px;
    top: 12px;

    background: url(img/turtle1.png);
 }

.line3 {
    position: absolute;
    width: 1582px;
    height: 0px;
    left: 169px;
    top: 49px;

    border: 5px solid #F5EDCF;
}

.Rec34 {
    position: absolute;
    width: 1920px;
    height: 95px;
    left: 0px;
    top: 0px;

    background: #466E47;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pcw {
    position: absolute;
    width: 398px;
    height: 149px;
    left: 785px;
    top: 135px;

    background: url(img/PCW로고.png);
}

.h3 {
    position: absolute;
    width: 603px;
    height: 72px;
    left: 651px;
    top: 540px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}














