@charset "UTF-8";

* {margin: 0; padding: 0;
   font-family: 'Noto Sans', 'Roboto';}

#pcw {
    justify-content: center;
}

#join_pcw {
    background: url("../images/v51:282.png");
    width: 398px;
    height: 149px;
    position: absolute;
    width: 398px;
    height: 149px;
    left: 785px;
    top: 135px;

    background: url(로고이미지.png);
}

#join_username {
    color: #747474;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    position: absolute;
    width: 166px;
    height: 25px;
    left: 736px;
    top: 311px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    /* or 96% */

    color: #747474;
}